<table>
<% @nodes.each do |node| %>
<tr>
    <td><%= link_to node.description['user_name'] || node.description['name'], node.url %></td>
    <td><%= node.posts.count %></td>
    <td><%= node.posts.average(:score) %></td>
</tr>
<% end %>
</table>