<%= render "layouts/nav" %>s
<%= tw_time(@node.created_at) %>

<table>
<% @node.posts.each do |post| %>
<tr>
    <td><%= tw_time post.updated || post.date %></td>
    <td><%= link_to post.title, post.url, target: "_blank" if post.title %></td>
</tr>
<% end %>
</table>
