<h3>
<%= @post_tags.count %> Related Tags
</h3>

<% if params[:description].present? %>
  <% tags = params[:description] ? params[:description].split('+') : '' %>

  <% tags.each do |x| %>
    <%= link_to "#{is_name x} âŽ".html_safe, controller: request.path_info.gsub('/',''), action: 'index', params: {description: params[:description].gsub("#{x}+",'').gsub("#{x}",''), start_date: params[:start_date] || @genes[:date], end_date: params[:end_date] || @genes[:date]} %>
  <% end if params[:description] %>

  <% @post_tags.each do |x| %>
    <% if tags.exclude? x[0] %>
    <%= link_to "#{is_name x[0]}(#{x[1]})".html_safe, posts_path(params: {description: (params[:description].present? ? params[:description]+ '+' + x[0] : x[0]), start_date: params[:start_date], end_date: params[:end_date]}) if x[0] && x[1] > 1 %>
    <% end %>
  <% end %>

<% end %>

<% if @cofacts_responses %>
<h3>Cofacts Results</h3>
<%= render "layouts/cofact" %>
<% end %>