<td><%= link_to 'CT', url_on_ct(params[:ct]), target: "_blank" %></td>
<td><%= link_to 'IF', url_on_informer(params[:ct]), target: "_blank" if params[:ct] %></td>
<td><%= link_to 'PW', url_on_publicwww(params[:ct]), target: "_blank" if params[:ct] %></td>