<h3>Top Tags <%= params[:start_date] || 'Today' %></h3>
<% (@genes.map{|x| x[1]['tag'] }+ENV['GENE_NEWS'].split(',')).each do |g| %>
  <% word = (g ? (URI.decode g) : '') %>
  <% unless ['各地分網', '閱讀', '鉅亨網'].include? word %>
    <%= link_to is_name(word), controller: request.path_info.gsub('/','').present? ? request.path_info.gsub('/','') : 'posts', action: 'index', params: {description: word, start_date: params[:start_date] || @genes[:date], end_date: params[:end_date] || @genes[:date]}) unless (params[:description] && (params[:description].split('+').include? word) %>
  <% end %>
<% end  %>

<%= render "posts/related_tag" if @posts %>
